# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/

# Misc
.DS_Store
.env
.npm
*.log

# Secrets (IMPORTANT)
*.json
!package.json
!package-lock.json
!Google/Class.json
!Apple.pass/pass.json
certs/
OAUTH Client.txt
